- const action = isNew ? '/books/new' : `/books/${book.id}`
form(method="post" action=action)
    if valiationErrors
        h2.error Oooops
        ul.error
            each valiationError in valiationErrors
                li= valiationError
    p
        label(for="title") Title
        input(name="title" type="text" id="title" value=book ? book.title : null)
    p
        label(for="author") Author
        input(name="author" type="text" id="author" value=book ? book.author : null)
    p
        label(for="genre") Genre
        input(name="genre" type="text" id="genre" value=book ? book.genre : null)
    p
        label(for="year") Year
        input(name="year" type="text" id="year" value=book ? book.year : null)
    p: input(type = "submit" value = isNew ? "Create New Book" : "Update Book")

    if isNew
        p: a(class="button" href="/") Cancel